body {
  font-family: 'Poppins', sans-serif;
  color: #000000;
  background-color: #ffffff;
}

.layout_padding {
  padding: 50px 0;
}

.layout_padding2 {
  padding: 45px 0;
}

.layout_padding2-top {
  padding-top: 45px;
}


.layout_padding2-bottom {
  padding-bottom: 45px;
}

.layout_padding-top {
  padding-top: 75px;
}

.layout_padding-bottom {
  padding-bottom: 75px;
}


.custom_dark-btn,
.custom_orange-btn {
  display: inline-block;
  padding: 10px 0;
  text-align: center;
  width: 145px;
  outline: none;
  color: #f7f7f7;
  border: 1px solid transparent;
}

.custom_dark-btn {
  background-color: #000000;
}

.custom_dark-btn:hover {
  border: 1px solid #000000;
  color: #000000;
  background-color: transparent;
}

.custom_orange-btn {
  background-color: #fc5d35;
}

.custom_orange-btn:hover {
  border: 1px solid #fc5d35;
  color: #fc5d35;
  background-color: transparent;
}

.custom_heading {
  text-align: center;
  font-weight: bold;
  position: relative;
  line-height: 60px;
  color: #555;
}
.custom_heading::after
{ content: '';
  background:#ff523b;
width:80px;
  height:5px;
  border-radius: 5px;
  position: absolute;
  bottom:0;
  left: 50%;
  transform: translateX(-50%);
}
.custom_heading-text {
  text-align: center;
}


/*header section*/
.hero_area {
  height: 98vh;
  background-color: #f7f7f7;
}

.hero_area.sub_pages {
  height: auto;
}

.header_section {}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.header_section .nav_container {
  margin: 0 auto;
}
.navbar-nav .nav-item .nav-link:hover
{color: darkblue;
  background: crimson;



}
.custom_nav-container.navbar-expand-lg .navbar-nav .nav-link {
  padding: 10px 30px;
  color: #343434;
  text-align: center
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  box-shadow: none;
}
.container .card::before{
  content: '';
  position: absolute;
  top:0;
  right: 0;
   }
.container .card .card-img-top
{margin-bottom: 10px;
}
.container .card .card-img-top img
{max-width: 90%;
}
.container .card .card-body::before
{content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background:linear-gradient(transparent,#ffffff);
}
.container .card .card-body
{position: relative;
  height: 216px;
  overflow: hidden;
}
.container .card.active .card-body
{ height: auto;
}
.container .card.active .card-body::before
{display: none;
}
.container .card .card-body h5
{color: firebrick;
  font-size: 14px;
  font-width: 600;
  margin-bottom: 10px;
}
.container .card .more
{ position: relative;
  padding: 10px 15px;
  background: #17e78c;
  margin-top: 15px;
  display: inline-block;
  cursor: pointer;
  text-transform: uppercase;
  color: #383838;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 14px;
  width:35%;
}
.container .card.active .more
{ background: #ff3b7e;
  color:#fff;
}
/*.container .card.active::before*/
/*{border-top: 20px solid #ff3b7e;*/
/*  border-right: 20px solid #ff3b7e;*/

/*}*/
.container .card .more::before
{content:'Read more';

}
.container .card.active .more::before
{content:'Read Less';

}
.navbar-brand,
.navbar-brand:hover {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
  color: #fafcfd;
}

.custom_nav-container .nav_search-btn {
  background-image: url(../images/search-icon.png);

  background-size: 22px;
  background-repeat: no-repeat;
  background-position-y: 7px;
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand img {
  width: 122px;
  margin-right: 5px;
}

.navbar-brand span {
  font-size: 20px;
  font-weight: 700;
  color: #2e2e2d;
  margin-top: 5px;
}

.custom_nav-container {
  z-index: 99999;
  padding: 15px 0;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler .navbar-toggler-icon {
  background-image: url(../images/menu.png);
  background-size: 55px;
}

.quote_btn-container a {
  display: inline-block;
  padding: 5px 15px;
  background-color: #fc5d35;
  color: #f7f7f7;
  font-size: 14px;
  text-transform: uppercase;
}

/*end header section*/

/* slider section */
.slider_section {
  padding-top: 8%;
}

.slider_item-box {
  width: 100%;
  height: 100%;
}

.slider_item-box .container {
  height: 100%;
}

.slider_img-box {
  width: 85%;
  margin: 0 auto;
}

.slider_img-box img {
  width: 100%;
}

.slider_item-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}

.slider_item-container .slider_item-detail {}

.slider_item-detail h1 {
  font-weight: 700;
  font-size: 60px;
  width: 95%;
}

.slider_item-detail p {
  margin: 45px 0;
}

.slider_call-btn {
  display: inline-block;
  padding: 8px 20px;
  background-color: #edb040;
  color: #fefdfd;
  border-radius: 20px;
}

.slider_section #carouselExampleControls,
.carousel-inner,
.carousel-item {
  height: 100%;
}

.slider_section .custom_carousel-control {
  position: absolute;
  top: 50%;
  left: 2%;
  width: 105px;
  transform: translateY(-50%);
}

.slider_section .custom_carousel-control .carousel-control-prev,
.slider_section .custom_carousel-control .carousel-control-next {
  margin: 10px 0;
  position: relative;
  width: 45px;
  height: 45px;
  border: none;
  opacity: 1;
  background-repeat: no-repeat;
  background-size: 12px;
  background-position: center;
}

.slider_section .custom_carousel-control .carousel-control-prev {
  background-image: url(../images/prev.png);
  background-color: #fc5d35;
}

.slider_section .custom_carousel-control .carousel-control-next {
  background-image: url(../images/next.png);
  background-color: #000000;
}

/* end slider section */


/* service section */
.service_section .card .card-img-top {
  width: 250px;
  margin: 55px auto 5px auto;
}

.service_section .card {
  text-align: center;
  box-sizing: border-box;
  position: relative;
  margin-top: 10px;
}

.service_section .card .card-title {
  color: #fc5d35;

}

.service_section .card::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 7px;
  background-color: transparent;
}

.service_section .card:hover {
  cursor: pointer;
  border: none;
  border-radius: 0;
  content: '';
  transform: translateY(-10px);
  /*-webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);*/
  /*-moz-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);*/
  /*box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);*/

}

/*.service_section .card:hover::after {*/
/*  background-color: #fc5d35;*/
/*}*/

/* end service section */
/*Product ion*/
.product
{ cursor: pointer;
  margin-bottom: 2rem;
}
.product img
{ transition: 0.3s all;
}
.product:hover img
{ opacity: 0.7;
}
/* Gallery section */
.col-md-4 {
  margin-top:10px;
  margin-bottom: 10px;
}
img:hover{
transform: scale(1.1);
  transition: 0.5s;
}
.product .buy-btn
{ background: #fb774b;
  transform: translateY(20px);
  opacity: 0;
  transition: 0.3s all;
}
.product:hover .buy-btn
{ transform: translateY(0px);
  opacity: 1;
  transition: 0.3s all;
}
.fa-star {
  color: gold;
}
.fa {
  color: gold;
}
/* tasty section */

.tasty_section {
  width: 100%;
  height: 500px;
  background-image: url(../images/tasty-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

}

.tasty_section h2 {
  font-size: 125px;
  text-align: center;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
}

/* end tasty section */

/* client section */
.client_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.client_img-box {
  width: 350px;
}

.client_img-box img {
  width: 100%
}

.client_container h3 {
  text-align: center;
  margin-bottom: 25px;
}


.client_section .custom_carousel-control {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 105px;
  transform: translateX(-50%);
}

.client_section .custom_carousel-control .carousel-control-prev,
.client_section .custom_carousel-control .carousel-control-next {
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 100%;
  opacity: 1;
  background-repeat: no-repeat;
  background-size: 12px;
  background-position: center;
  background-color: #292727;
}

.client_section .custom_carousel-control .carousel-control-prev:hover,
.client_section .custom_carousel-control .carousel-control-next:hover {
  background-color: #fc5d35;
}

.client_section .custom_carousel-control .carousel-control-prev {
  background-image: url(../images/prev.png);
}

.client_section .custom_carousel-control .carousel-control-next {
  background-image: url(../images/next.png);
}

/* end client section */

/* contact section */

.contact_section {
/*  background-image: url(../images/orange-dish.png); */
  background-repeat: no-repeat;
  background-size: 215px;
  background-position: right center;
}

.contact_section input {
  border: none;
  outline: none;
  border-bottom: .8px solid #252525;
  width: 90%;
  margin: 10px 0;
}

.contact_form-container {
  padding: 15px 0 15px 0;

}

.contact_form-container button {
  border: none;
  background-color: #fc5d35;
  color: #fff;
  padding: 8px 40px;
  text-transform: uppercase;
  font-size: 14px;
}


/* contact section */

/* map section */
/*---------------------
  Map
-----------------------*/

.map {
  padding-top: 80px;
  padding-bottom: 0;
}

.map-inner {
  height: 610px;
  position: relative;
}

.map-inner iframe {
  width: 100%;
}

.map-inner .icon {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-14px, -21px);
  -ms-transform: translate(-14px, -21px);
  transform: translate(-14px, -21px);
}

.map-inner .icon i {
  font-size: 48px;
  color: #e7ab3c;
}
.spad {
  padding-top: 0px;
  padding-bottom: 0px;
}
.start{
  margin-top: 10px;
}

.map_section {
  height: 500px;
}


/* end map section */
/*Buttun*/
.site-btn {
  color: #ffffff;
  background: #e7ab3c;
  border: 1px solid #e7ab3c;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 13px 45px 11px;
  cursor: pointer;
}
/*---------------------
  Contact Section
-----------------------*/

.contact-section {
  padding-top: 75px;
  padding-bottom: 80px;
}

.contact-title {
  margin-bottom: 30px;
}

.contact-title h4 {
  color: #252525;
  font-weight: 700;
  margin-bottom: 16px;
}

.contact-widget .cw-item {
  background: #ffffff;
  margin-bottom: 11px;
  /*-webkit-box-shadow: 0px 8px 35px 10px #E8E8E8;*/
  /*box-shadow: 0px 8px 35px 10px #E8E8E8;*/
  padding-left: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 10px;
  height:55px;
}

.contact-widget .cw-item .ci-icon {
  float: left;
  margin-top: -16px;
}

.contact-widget .cw-item .ci-icon i {
  font-size: 30px;
  color: #b2b2b2;
}

.contact-widget .cw-item .ci-text {
  display: table;
  padding-left: 35px;
  margin-top:-25px;
}

.contact-widget .cw-item .ci-text span {
  color: #b2b2b2;
  font-size: 16px;
}

.contact-widget .cw-item .ci-text p {
  font-size: 18px;
  color: #252525;
  margin-bottom: 0;
}

.contact-form .leave-comment h4 {
  color: #292f3b;
  font-weight: 700;
  margin-bottom: 20px;
}

.contact-form .leave-comment p {
  margin-bottom: 38px;
}

.contact-form .leave-comment .comment-form input {
  width: 100%;
  font-size: 16px;
  color: #636363;
  height: 50px;
  border: 1px solid #ebebeb;
  border-radius: 5px;
  padding-left: 20px;
  margin-bottom: 30px;
}

.contact-form .leave-comment .comment-form textarea {
  width: 100%;
  resize: none;
  font-size: 16px;
  color: #636363;
  height: 150px;
  border: 1px solid #ebebeb;
  border-radius: 5px;
  padding-left: 20px;
  padding-top: 10px;
  margin-bottom: 35px;
}
.title
{
  text-align: justify;
}
.contact-form .leave-comment .comment-form .site-btn {
  padding: 13px 35px 11px;
}
/*---------Footer section------*/
#footer
{background-image: linear-gradient(to right, #a517ba,#5f1782);
  color:#fff;
}
.footer-img
{ width:100%}
.footer-box {
  padding:20px;
}
.footer-box img
{width:120px;
  margin-bottom:20px ;
}
.footer-box .fa
{
  margin-right: 8px;
  font-size: 25px;
  height: 40px;
  text-align: center;
  padding-top: 7px;
  border-radius: 2px;
  background-image: linear-gradient(to right, #a517ba,#5f1782);
}
.footer-box .form-control
{box-shadow: none;
  border:none!important;
  border-radius: 0;
  margin-top:25px;
  max-width:250px;

}

.footer-box .btn-primary
{box-shadow: none;
  border:none;
  border-radius: 0;
  margin-top:30px;
  background-image: linear-gradient(to right, #a517ba,#5f1782);
}
/* Small Device: 320px */

@media only screen and (max-width: 479px) {
  .instagram-photo .insta-item {
    width: 100%;
  }
  .inner-header .advanced-search .category-btn {
    display: none;
  }
  .inner-header .advanced-search .input-group {
    max-width: 100%;
  }
  .inner-header .nav-right li.cart-icon .cart-hover {
    width: 270px;
    padding: 20px;
  }
  .countdown-timer .cd-item {
    margin-right: 5px;
    padding: 10px 6px;
  }
  .product-show-option .select-option {
    display: inline-block;
  }
  .product-show-option .select-option .sorting.nice-select {
    margin-bottom: 10px;
  }
  .product-details .quantity .primary-btn.pd-cart {
    padding: 14px 20px 10px;
  }
  .tab-item ul li a {
    padding: 18px 30px;
    margin-bottom: 10px;
  }
  .specification-table table tr td.p-catagory {
    width: 160px;
  }
  .blog-details-inner .blog-post .next-blog .nb-pic i {
    display: none;
  }
  .blog-details-inner .blog-post .prev-blog .pb-pic i {
    display: none;
  }
  .blog-details-inner .tag-share .details-tag {
    float: none;
    margin-bottom: 10px;
  }
  .blog-details-inner .tag-share .blog-share {
    float: none;
  }
  .blog-details-inner .blog-detail-title p:before {
    left: -62px;
    width: 50px;
  }
  .blog-details-inner .blog-detail-title p:after {
    right: -62px;
    width: 50px;
  }
  .blog-details-inner .posted-by .pb-pic {
    float: none;
    margin-bottom: 15px;
  }
  .blog-details-inner .posted-by .pb-text {
    padding-left: 0;
    display: block;
  }
  .checkout-form .place-order .order-total {
    padding-left: 20px;
    padding-right: 20px;
  }
  .contact-widget .cw-item .ci-icon {
    float: none;
    margin-bottom: 5px;
  }
  .contact-widget .cw-item .ci-text {
    padding-left: 0;
  }
  .benefit-items .single-benefit {
    padding-left: 15px;
    padding-right: 15px;
  }
}
/* info section */
.info_section ul {
  padding: 0;
}

.info_section ul li {
  list-style-type: none;
  margin: 3px 0;

}

.info_section h5 {
  margin-bottom: 12px;
  font-size: 22px;
}

.info_section .social-box {
  margin: 25px 0;
}

.info_section .social-box img {
  width: 35px;
  margin-right: 5px;
}

.info_section .form_container input {
  width: 225px;
  height: 30px;
}

.info_section .form_container button {
  background-color: #fc5d35;
  border: none;
  outline: none;
  color: #fff;
  padding: 5px 30px;
  margin-top: 15px;
  font-size: 15px;
}

/* end info section */


/* footer section*/

.footer_section {
  background-color: #efeded;
  padding: 20px 0;
  font-family: "Roboto", sans-serif;
}

.footer_section p {
  color: #191818;
  margin: 0;
  text-align: center;
}

.footer_section a {
  color: #191818;
}

/* end footer section*/